body {
  min-height: 100vh;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", "Times", "Linux Libertine", "游ゴシック",
    "ヒラギノ角ゴ ProN", "メイリオ", "MS Pゴシック", sans-serif;
  color: #333333;
  max-width: 100%;
}

/* .wrapper {
  overflow-x: hidden;
  position: relative;
} */

.background {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-image: url("image/body.png");
  z-index: -3;
  opacity: 50%;
}

/* ヘッダー */

html,
body,
#wrap1,
#wrap2,
#wrap3,
#wrap4 {
  height: 100%;
}

#wrap1,
#wrap2,
#wrap3,
#wrap4 {
  position: relative;
}

#wrap1 {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  z-index: 3;
}

#wrap2 {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  z-index: 2.5;
}

img[alt="shizuku1"] {
  position: absolute;
  width: 50px;
  height: 80px;
  z-index: 2.5;
  top: 100px;
  right: 150px;
}

img[alt="shizuku2"] {
  position: absolute;
  width: 30px;
  height: 50px;
  z-index: 2.5;
  top: 190px;
  right: 100px;
}

header {
  display: flex;
  align-items: center;
  z-index: 4;
}

nav ul {
  font-size: 2em;
  display: flex;
}

nav {
  margin-left: auto;
  margin-right: 200px;
}

.title {
  font-size: 2.5em;
  padding: 15px 30px 30px 50px;
  z-index: 4;
}

nav ul li {
  list-style: none;
  padding: 0 50px;
  z-index: 4;
}

nav ul a {
  position: relative;
  color: #333333;
  text-decoration: none;
}

nav ul a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #555555;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav ul a:hover::after {
  width: 100%;
}

.color {
  color: #ccbcb2;
}

@media (max-width: 1366px) {
  #wrap1 {
    height: 500px;
  }

  #wrap2 {
    height: 500px;
  }

  .title {
    font-size: 2em;
  }

  ul {
    font-size: 1.8em;
  }
}

@media (max-width: 1400px) {
  nav {
    margin-right: 5px;
  }
}

@media (max-width: 1280px) {
  nav {
    margin-left: auto;
    margin-right: 50px;
  }

  ul {
    margin-top: 5px;
  }

  #wrap1 {
    height: 400px;
  }

  #wrap2 {
    height: 400px;
  }

  img[alt="shizuku1"] {
    position: absolute;
    width: 40px;
    height: 70px;
    z-index: 2.5;
    top: 80px;
    right: 150px;
  }

  img[alt="shizuku2"] {
    position: absolute;
    width: 30px;
    height: 50px;
    z-index: 2.5;
    top: 150px;
    right: 100px;
  }

  .title {
    font-size: 2em;
    padding: 5px 30px 30px 50px;
    z-index: 4;
  }
}

@media (max-width: 960px) {
  nav {
    display: none;
  }

  #wrap1 {
    height: 700px;
  }

  #wrap2 {
    height: 700px;
  }

  img[alt="shizuku1"] {
    position: absolute;
    width: 40px;
    height: 70px;
    z-index: 2.5;
    top: 140px;
    right: 80px;
  }

  img[alt="shizuku2"] {
    position: absolute;
    width: 30px;
    height: 50px;
    z-index: 2.5;
    top: 220px;
    right: 50px;
  }

  .title {
    font-size: 2.5em;
    padding: 25px 30px 30px 50px;
    z-index: 4;
  }
}

@media (max-width: 560px) {
  nav {
    display: none;
  }

  #wrap1 {
    height: 550px;
  }

  #wrap2 {
    height: 550px;
  }

  img[alt="shizuku1"] {
    position: absolute;
    width: 40px;
    height: 70px;
    z-index: 2.5;
    top: 100px;
    right: 80px;
  }

  img[alt="shizuku2"] {
    position: absolute;
    width: 30px;
    height: 50px;
    z-index: 2.5;
    top: 160px;
    right: 30px;
  }

  .title {
    font-size: 1.8em;
    padding: 30px 30px 30px 20px;
    z-index: 4;
  }
}

/* top */

.top {
  width: auto;
  height: 650px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  opacity: 90%;
  margin-top: 100px;
}

.top img {
  z-index: 1;
}

.pc {
  display: block !important;
}
.iPad {
  display: none !important;
}

.iPhone {
  display: none !important;
}

@media (max-width: 1366px) {
  .top img {
    width: 800px;
  }

  .top {
    margin-top: 20px;
  }
}

@media (max-width: 1280px) {
  .top img {
    width: 700px;
  }

  .top {
    margin-top: 50px;
    height: 450px;
  }
}

@media (max-width: 960px) {
  .pc {
    display: none !important;
  }
  .iPad {
    display: block !important;
  }

  .iPone {
    display: none !important;
  }

  .top {
    /* width: 60%;
    height: auto; */
    margin: 0 auto;
    margin-top: 150px;
  }

  .top img {
    width: 550px;
  }
}

@media (max-width: 700px) {
  .top {
    margin: 0 auto;
    margin-top: 100px;
  }
  .top img {
    width: 450px;
  }
}

@media (max-width: 560px) {
  .top {
    margin: 0 auto;
    margin-top: 100px;
  }
  .top img {
    width: 350px;
  }

  .iPad {
    display: none !important;
  }

  .iPhone {
    display: block !important;
  }
}

@media (max-width: 380px) {
  .top {
    margin: 0 auto;
    margin-top: 100px;
  }
  .top img {
    width: 95%;
  }

  .iPad {
    display: none !important;
  }

  .iPhone {
    display: block !important;
  }
}

@media (max-width: 317px) {
  .top {
    margin: 0 auto;
    margin-top: 100px;
  }
  .top img {
    width: 280px;
  }
}
/* メインコンテンツ */

main {
  height: 2500px;
}

@media (max-width: 1280px) {
  main {
    height: 2100px;
  }
}

@media (max-width: 1250px) {
  main {
    height: 2500px;
  }
}

@media (max-width: 960px) {
  main {
    height: 2300px;
  }
}

@media (max-width: 670px) {
  main {
    height: 2200px;
  }
}

@media (max-width: 360px) {
  main {
    height: 2500px;
  }
}

/* about */

.about {
  position: absolute;
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  top: 1200px;
  left: 10%;
  /* border-top: solid 1px; */
  text-align: left;
  margin-bottom: 100px;
}

/* about タイトル */

.about_block {
  width: 100px;
  height: 800px;
  float: left;
  padding-top: 150px;
}

.about_block p {
  width: 150px;
  /* margin-right: 500px; */
  font-size: 3em;
  writing-mode: vertical-lr;
  /* text-orientation: mixed; */
  padding-top: 30px;
  margin-left: 80px;
}

.about_border {
  border-left: black 1px;
  width: 1px;
  height: 550px;
  margin: 10px 100px 10px 100px;
  background-color: black;
}

.profile {
  width: 700px;
  height: 200px;
  font-size: 1em;
  margin-left: 200px;
  padding-top: 550px;
}

.profile img {
  padding-left: 5px;
  margin-top: 30px;
  width: 45px;
  height: 45px;
}

.profile img:hover {
  transform: translateY(-10px);
  transition: 0.8s;
}

.link {
  padding-left: 400px;
}

img[alt="profile_background"] {
  position: absolute;
  height: 600px;
  top: 1450px;
  right: 150px;
  z-index: -1;
  opacity: 80%;
}

.size {
  font-size: 2em;
  color: black;
}

.about_block_res {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 20px;
  /* background-color: aqua; */
  position: absolute;
  top: 1100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.about_block_res p {
  width: 150px;
  font-size: 3em;
  margin-right: 20px;
}

.about_border_res {
  border-top: black 1px;
  width: 80%;
  height: 1px;
  background-color: black;
}

@media (max-width: 1366px) {
  .about_border {
    height: 400px;
  }

  .profile {
    padding-top: 400px;
  }

  img[alt="profile_background"] {
    top: 1350px;
    opacity: 70%;
  }
}

@media (max-width: 1280px) {
  .about {
    top: 820px;
    height: 600px;
  }

  .profile {
    padding-top: 350px;
    font-size: 0.9em;
  }

  img[alt="profile_background"] {
    opacity: 70%;
    top: 1000px;
    width: 500px;
    height: 450px;
  }
}

@media (max-width: 1200px) {
  .profile {
    width: 500px;
    margin-left: 150px;
  }
  .link {
    padding-left: 150px;
  }
}

@media (max-width: 960px) {
  .about {
    top: 900px;
    width: 80%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  img[alt="profile_background"] {
    left: 0;
    right: 0;
    margin: auto;
    opacity: 70%;
    top: 1200px;
  }
  .about_block {
    display: none;
  }

  .profile {
    width: 80%;
    margin: 0 auto;
  }

  .link {
    padding: 0px;
    width: 200px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .about_block_res {
    display: none;
  }
}

@media (max-width: 750px) {
  img[alt="profile_background"] {
    opacity: 70%;
    top: 1200px;
    left: 10%;
  }
}

@media (max-width: 575px) {
  img[alt="profile_background"] {
    width: 350px;
    height: 300px;
    left: 0;
  }
}

@media (max-width: 370px) {
  img[alt="profile_background"] {
    width: 90%;
    height: auto;
    left: 0;
  }
}

/* works */

.works {
  width: 80%;
  height: 1200px;
  margin: 0 auto;
  text-align: left;
  margin-top: 350px;
}

/* works　タイトル */

.works_block {
  width: 100px;
  height: 800px;
  float: left;
}

.works_block p {
  width: 150px;
  font-size: 3em;
  writing-mode: vertical-lr;
  padding-top: 30px;
  margin-left: 80px;
}

.works_border {
  border-top: black 1px;
  width: 1px;
  height: 550px;
  margin: 10px 100px 10px 100px;
  background-color: black;
}

.works_block_res {
  display: flex;
  align-items: center;
  text-align: center;
}

.works_block_res p {
  width: 150px;
  font-size: 3em;
  margin-right: 20px;
}

.works_border_res {
  border-top: black 1px;
  width: 80%;
  height: 1px;
  background-color: black;
}

/* 作品一覧 */

.works_block2 {
  width: 60%;
  height: 800px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.work_flame {
  width: 200px;
  height: 275px;
  background-color: #fffafa;
  /* border: solid 1px #a9a9a9; */
  margin: 30px;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 30px #a9a9a9;
}

.work_img {
  margin: 0 auto;
  margin-top: 20px;
  width: 180px;
  height: 180px;
  background-color: #ccbcb2;
}

.works img[alt="work"] {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 180px;
  height: 180px;
}

.works img[alt="mark"] {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  width: 125px;
}

.work_flame:hover {
  /* box-shadow: 0 15px 50px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1); */
  transform: translateY(-15px);
  transition: 0.8s;
}

@media (max-width: 1640px) {
  .works_block2 {
    width: 80%;
  }
}

@media (max-width: 1366px) {
  .works_border {
    height: 400px;
  }
}
@media (max-width: 1280px) {
  .works {
    margin-top: -100px;
    height: 800px;
  }
}

@media (max-width: 960px) {
  .works_block {
    display: none;
  }

  .works_block2 {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 670px) {
  .works_block2 {
    width: 100%;
    height: 800px;
    justify-content: space-between;
  }

  .work_flame {
    width: 180px;
    height: 250px;
    margin: 0px;
  }

  .work_img {
    width: 150px;
    height: 150px;
  }

  .works img[alt="work"] {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .works {
    width: 80%;
  }
  .works_block2 {
    width: 100%;
    height: 800px;
    justify-content: space-between;
  }

  .work_flame {
    width: 150px;
    height: 200px;
    margin: 0px;
  }

  .work_img {
    width: 130px;
    height: 130px;
  }

  .works img[alt="work"] {
    width: 130px;
    height: 120px;
  }

  .works img[alt="mark"] {
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 425px) {
  .works {
    width: 80%;
  }
  .works_block2 {
    width: 100%;
    height: 800px;
    justify-content: space-between;
  }

  .work_flame {
    width: 130px;
    height: 170px;
    margin: 0px;
  }

  .work_img {
    width: 110px;
    height: 110px;
  }

  .works img[alt="work"] {
    width: 110px;
    height: 100px;
  }

  .works img[alt="mark"] {
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 360px) {
  .works_block2 {
    flex-flow: column;
  }

  .work_flame {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 960px) {
  .works_block_res {
    display: none;
  }
}

/* フッター */

footer {
  width: 100%;
  height: 150px;
  color: black;
}

footer p {
  padding-top: 6vw;
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 1280px) {
  footer p {
    padding-top: 60px;
  }
}

/* 背景 */

.main_background {
  width: 100%;
  height: 1200px;
  /* position: absolute; */
  opacity: 60%;
  z-index: -1;
}

.main_background_color {
  margin-top: 400px;
  width: 100%;
  height: 800px;
  background-color: #fffafa;
  position: absolute;
}

#wrap3 {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  z-index: -2;

  transform: rotate(180deg);
}

@media (max-width: 1280px) {
  #wrap3 {
    height: 300px;
  }
  .main_background_color {
    margin-top: 300px;
    width: 100%;
    height: 900px;
  }
}

@media (max-width: 770px) {
  #wrap3 {
    height: 300px;
  }
  .main_background_color {
    margin-top: 300px;
    width: 100%;
    height: 900px;
  }

  .modal-content img {
    width: 300px;
  }
}

@media (max-width: 670px) {
  .main_background_color {
    height: 900px;
  }
}

@media (max-width: 360px) {
  .main_background_color {
    height: 920px;
  }
}
/* アニメーション */

.effect-fade {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 2000ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.sticky {
  position: sticky;
  top: -200px;
}

@media (max-width: 1250px) {
  .sticky2 {
    position: sticky;
    top: 110px;
  }
}

@media (max-width: 1280px) {
  .sticky {
    position: sticky;
    top: -155px;
  }
}

/* ポップアップ */

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center;
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  vertical-align: middle;
  content: "";
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 1000px;
  height: 650px;
  padding: 30px 30px 15px;
  border-radius: 10px;
  background: #fffafa;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: -10px;
  right: 5px;
  width: 55px;
  height: 55px;
  color: #000000 !important;
  font-size: 4em;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}

#wrap4 {
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 0;
  left: 0;
  z-index: -3;
}

.modal-wrapper .modal-close:hover {
  color: #a9a9a9 !important;
}

.modal-content img {
  width: 450px;
}

.work_title {
  margin-top: 10px;
  font-size: 2em;
}

.work_caption {
  padding-top: 40px;
}

@media (max-height: 770px) {
  .modal-wrapper .modal-window {
    height: 550px;
  }
  .modal-content img {
    width: 350px;
  }

  .work_caption {
    padding-top: 20px;
  }

  .work_title {
    padding-bottom: 0px;
  }

  #wrap4 {
    height: 800px;
  }
}

@media (max-height: 650px) {
  .modal-wrapper .modal-window {
    height: 500px;
  }
  .modal-content img {
    width: 300px;
  }

  .work_caption {
    padding-top: 0px;
  }

  .work_title {
    padding-bottom: 0px;
  }

  #wrap4 {
    height: 700px;
  }
}

@media (max-height: 650px) {
  .modal-wrapper .modal-window {
    width: 700px;
  }
}

@media (max-width: 770px) {
  .modal-content img {
    width: 300px;
  }
  #wrap4 {
    height: 700px;
  }
  .modal-wrapper .modal-window {
    height: 600px;
  }
  .work_title {
    font-size: 1.8em;
  }
}

@media (max-width: 550px) {
  .modal-content img {
    width: 250px;
  }

  .modal-wrapper .modal-window {
    height: 600px;
  }
}

/* ページ内リンク */
.about-jump {
  width: 100%;
  height: 20px;
  /* background-color: aqua; */
  position: absolute;
  top: 1200px;
}

.works-jump {
  width: 100%;
  height: 20px;
  /* background-color: aqua; */
  position: absolute;
  top: 2250px;
}
@media (max-width: 1366px) {
  .works-jump {
    top: 2200px;
  }
}

@media (max-width: 1280px) {
  .about-jump {
    top: 890px;
  }
  .works-jump {
    top: 1640px;
  }
}

@media (max-width: 960px) {
  .about-jump {
    top: 935px;
  }

  .works-jump {
    top: 1750px;
  }
}

@media (max-width: 700px) {
  .about-jump {
    top: 935px;
  }

  .works-jump {
    top: 1700px;
  }
}
/* ハンバーガーメニュー */

@media (min-width: 960px) {
  .Toggle {
    display: none !important;
  }
}

.NavMenu {
  z-index: 99;
}

a {
  text-decoration: none;
  color: #333333;
}

/*ナビのスタイル*/
nav.NavMenu {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background: #fffafa;
  opacity: 85%;
  text-align: center;
  width: 250px;
  height: 100%;
  display: none;
}

nav.NavMenu ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%) translateX(-50%);
}

nav.NavMenu ul li {
  font-size: 24px;
  list-style-type: none;
  width: 100%;
  padding-bottom: 0px;
}

nav.NavMenu ul li:last-child {
  padding-bottom: 0;
}

nav.NavMenu ul li a {
  display: block;
  color: #333333;
  padding: 15px 0;
  font-weight: bold;
  font-size: 1.5em;
}

/*ボタンのスタイル*/
.Toggle {
  position: fixed;
  right: 40px;
  top: 45px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 13;
  display: block;
}

.Toggle span {
  display: block;
  position: absolute;
  width: 40px;
  border-bottom: solid 2px #555555;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  left: 6px;
  z-index: 99;
}

.Toggle span:nth-child(1) {
  top: 9px;
}

.Toggle span:nth-child(2) {
  top: 25px;
}

.Toggle span:nth-child(3) {
  top: 40px;
}

.Toggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: solid 1.5px #555555;
}
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: solid 1.5px #555555;
}
